QAONGDUR_ENV=development
QAONGDUR_CONTROL_API_HOST=0.0.0.0
QAONGDUR_CONTROL_API_PORT=8000
QAONGDUR_CONTROL_API_CORS_ORIGINS=http://localhost:5173
QAONGDUR_KEYCLOAK_ISSUER_URL=http://localhost:8080/realms/qaongdur-dev
QAONGDUR_KEYCLOAK_AUDIENCE=qaongdur-control-api
QAONGDUR_KEYCLOAK_WEB_CLIENT_ID=qaongdur-web
QAONGDUR_KEYCLOAK_EXPECTED_ALGORITHMS=RS256
QAONGDUR_KEYCLOAK_STEP_UP_ACR=urn:qaongdur:loa:2
QAONGDUR_OIDC_CACHE_TTL_SECONDS=300
